body, input, label, h1 {
    font-family: 'Bitcount Prop Single Ink', sans-serif;
    text-align: center;
}

.button-reset input:hover{
    background-color: aqua;
}

.button-submit input:hover{
    background-color: aqua;
}